.result {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
.result p code {
  color: #111827;
  font-size: 0.875em;
  font-weight: 600;
}
.result p {
  /* color: rgb(249 250 251); */
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.75;
}
.result section {
  border-radius: 0.75rem;
}
.result pre,
.result section,
.result section code {
  background: rgb(23 23 23) !important;
  text-shadow: none !important;
  color: #8e8ea0 !important;
  border-radius: 10px;
  font-weight: normal;
}
.result pre {
  width: 100%;
}
.result section code span {
  font-size: 0.8rem;
  font-weight: bold;
}
.result pre {
  direction: ltr !important;
}
.result pre::-webkit-scrollbar,
.result section::-webkit-scrollbar {
  display: none;
}
